{{#array}}
  <fieldset{{#error}} class="error"{{/error}}>
    {{#label}}<legend>{{label}} {{#required}} <em>required</em>{{/required}}</legend>{{/label}}
    <div class="array" id="{{name}}" data-minItems="{{minItems}}">
      <ul>
        {{#values}}
          <li class="array-item">
            <div>
              {{> modelInputs }}
            </div>
            <div>
              <button class="remove button icon-button alert"><i class="fa fa-trash"></i></button>
            </div>
          </li>
        {{/values}}
        {{#of}}
          <li data-template class="array-item">
            <div>
              {{> modelInputs }}
            </div>
            <div>
              <button class="remove button icon-button alert"><i class="fa fa-trash"></i></button>
            </div>
          </li>
        {{/of}}
      </ul>
      <button class="add button icon-button secondary"><i class="fa fa-2x fa-plus-circle"></i></button>
    </div>
    {{#error}}<p class="error">{{error}}</p>{{/error}}
  </fieldset>
{{/array}}