{{#input}}
  {{#isCheckbox}}
  <div{{#error}} class="error"{{/error}}>
    {{#label}}<label>{{/label}}
    <input type="{{input}}" name="{{name}}" value="{{value}}" {{#accept}}accept="{{accept}}" {{/accept}}{{#selected}}checked {{/selected}}/>
    {{#label}} {{label}}{{#required}} <em>required</em>{{/required}}</label>{{/label}}
    {{#error}}<p class="error">{{error}}</p>{{/error}}
  </div>
  {{/isCheckbox}}
  {{^isCheckbox}}
  <div{{#error}} class="error"{{/error}}>
    {{#label}}<label>{{label}}{{#required}} <em>required</em>{{/required}}{{/label}}
    <input type="{{input}}" name="{{name}}" value="{{value}}" {{#accept}}accept="{{accept}}" {{/accept}}{{#selected}}checked {{/selected}}/>
    {{#label}}</label>{{/label}}
    {{#error}}<p class="error">{{error}}</p>{{/error}}
  </div>
  {{/isCheckbox}}
{{/input}}

{{#textarea}}
  <div{{#error}} class="error"{{/error}}>
    {{#label}}<label>{{label}}{{#required}} <em>required</em>{{/required}}{{/label}}
    <textarea name="{{name}}">{{value}}</textarea>
    {{#label}}</label>{{/label}}
    {{#error}}<p class="error">{{error}}</p>{{/error}}
  </div>
{{/textarea}}

{{#radioGroup}}
  <div{{#error}} class="error"{{/error}}>
    {{#label}}<label>{{label}}{{#required}} <em>required</em>{{/required}}</label>{{/label}}
    <ul class="radioGroup">
      {{#radios}}
        <li>
          <label><input type="radio" name="{{name}}" value="{{value}}" {{#selected}}checked="checked" {{/selected}}/> {{label}}</label>
        </li>
      {{/radios}}
    </ul>
    {{#error}}<p class="error">{{error}}</p>{{/error}}
  </div>
{{/radioGroup}}

{{#selectGroup}}
  <div{{#error}} class="error"{{/error}}>
    {{#label}}<label>{{label}}{{#required}} <em>required</em>{{/required}}</label>{{/label}}
    <select name="{{name}}">
      {{#items}}
        <option value="{{value}}"{{#selected}} selected{{/selected}}>{{label}}</option>
      {{/items}}
    </select>
    {{#error}}<p class="error">{{error}}</p>{{/error}}
  </div>
{{/selectGroup}}

{{#checklist}}
  <div{{#error}} class="error"{{/error}}>
    <fieldset>
      {{#label}}<legend>{{label}}{{#required}} <em>required</em>{{/required}}</legend>{{/label}}
      <ul class="checklist">
        {{#items}}
          <li>
            <label><input type="checkbox" name="{{name}}" value="{{value}}" data-label="{{label}}" {{#icon}}data-icon="{{icon}}" {{/icon}}{{#selected}}checked="checked" {{/selected}}/>{{#icon}} <i class="fa fa-{{icon}}"></i>{{/icon}} {{label}}</label>
          </li>
        {{/items}}
      </ul>
      {{#error}}<p class="error">{{error}}</p>{{/error}}
    </fieldset>
  </div>
{{/checklist}}
